@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

i{
    font-size: 40px;
}

.small-title{
    font-size: 80%;
}

.bold{
    font-weight: bold;
}

.uppercase{
    text-transform: uppercase;
}

.align-right{
    text-align: right;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 10px;
}

    .head button{
        padding: 14px 2em;
        font-weight: bold;
        font-size: 1rem;
        background-color: white;
        color: rgb(70, 69, 69);
        border-radius: 4px;
    }
    
    .head i{
        color: grey;
    }

    .head button:hover{
        background-color: rgb(164, 164, 164);
        cursor: pointer;
    }

    .title{

        text-align: center;
        padding: 10em 0;
        position: relative;
    }
    .title::before{
        content: '';
        background-image: url('../media/Template/title-bg.jpg');
        background-size: cover;
        filter: grayscale(2) opacity(.2);

        position: absolute;
        top:0; left:0;
        width: 100%; height: 100%;
        z-index: -20;
    }
    .title h1{
        color: #079bbc;
        margin: .2em 0;
        font-size: 3rem;
    }
    
    .title p {
        padding: 0 20%;
        color: rgb(111, 111, 111);
    }

    .title button{
        color: white;
        background-color: #fd6f63;
        padding: 10px 2em;

        border: none;
        border-radius: 6px;
        margin: 2em 0;
    }

        .title button:hover{
            background-color: #c15a50;
            cursor: pointer;
        }
        
        .title button:focus{
            border: 1px solid white;
        }


.feature{
    padding: 4em 2em;
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        'left-up image right-up'
        'left-down image right-down'
    ;
    justify-items: center;
    align-items: center;
    gap:4em;
}

    .feature h3{
        color: #079bbc;
        font-size: 1.2rem;

    }
    .feature img{
        grid-area: image;
        border-radius: 50%;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        filter:  grayscale(1);
    }

        .feature .left-up{
            grid-area: left-up;
        }
        
        .feature .left-down{
            grid-area: left-down;
        }
        
        .feature .right-up{
            grid-area: right-up;
        }
        
        .feature .right-down{
            grid-area: right-down;
        }

.quote{
    background-color: #fe6e63;
    color: white;
    text-align: center;
    padding:15vh 10%;   
}

    .quote h2{
        font-size: 2rem;
    }

    .quote .quo{
        margin: 1em auto;
        color: rgb(212, 212, 212);
        font-style: italic;
        max-width: 60ch;

    }


.article{
    display: flex;
    justify-content: center;
    padding: 5em 20px;
    gap: 2rem;
}

    .card{
        border: 2px solid grey;
        border-radius: 10px;
        max-width: 30%;
    }

        .card img{
            width: 100%;
            height: 50%;
            object-fit: cover;
            
            filter: grayscale(1);
        }

        .card h3, .card p{
            padding: 10px 10px;
        }
        .card h3{
            color: #079bbc;
            font-size: 1.4rem;
        }
        